@use "../abstracts/veriables.scss" as *;
@use "../abstracts/mixin.scss" as *;
@use "../abstracts/base.scss" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $bg-color-dark;
  padding: 0.9vw 1.5vw;
  color: $text-color-light;

  width: 100%;

  z-index: 999;
  position: fixed;

  transition: 0.3s ease-in-out;

  > a {
    display: flex;
    align-items: center;
    img {
      // width: 65%;
      width: 4vw;
      height: auto;
    }
  }

  ul {
    display: flex;
    list-style: none;
    align-items: center;
    column-gap: 1vw;

    a {
      button {
        @include btn-mx(
          transparent,
          $text-color-light,
          0.4vw 1vw,
          0.06vw solid $text-color-light,
          3.2vw
        );
        cursor: pointer;
        p {
          @extend %p-base;
          color: $text-color-light;
        }
        &:hover {
          p {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .login {
    display: flex;
    align-items: center;
    column-gap: 18px;
    i {
      font-size: 1.6vw;
    }
    a {
      text-decoration: none;
      color: $text-color-light;
      p {
        @extend %p-base;

        &:hover {
          opacity: 70%;
        }
      }
    }
  }

  > .fa-bars {
    display: none;
  }

  .mobilever {
    display: none;
  }
}

footer {
  padding: 5vw 2.6vw 2.4vw 2.6vw;
  background-color: $bg-color-olive;
  display: flex;
  flex-direction: column;
  color: $text-color-light;
  align-items: center;
  a {
    text-decoration: none;
    color: $text-color-light;
    h1 {
      font-family: $font-fancy;
      font-size: $text-size-h1;

      animation: textsquishdelay2 1.2s;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 7vw);

    font-family: $font-main;
    width: 100%;

    > h3 {
      font-size: $text-size-p-alt;
      font-weight: 400;
    }

    .contacttxt {
      grid-row: 1;
      grid-column: 1;
    }

    .followtxt {
      grid-row: 1;
      grid-column: 3;
      text-align: end;
    }

    > div {
      grid-row: 2;
      grid-column: 1;
      display: flex;
      flex-direction: column;
      justify-content: end;

      row-gap: 0.5vw;
      @extend %p-base;

      .longp {
        width: 33%;
      }
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;

      row-gap: 0.5vw;
      @extend %p-base;
    }

    .infoul {
      grid-row: 2;
      grid-column: 2;
      align-items: center;
      justify-content: end;
    }

    .mediaul {
      grid-row: 2;
      grid-column: 3;
      align-items: end;
      justify-content: end;
    }
  }

  > p {
    @extend %p-base;
    border-top: 0.06vw solid $text-color-light;
    width: 100%;
    text-align: center;

    margin-top: 0.7vw;
    padding-top: 1vw;
  }
}

@media (max-width: 1024px) {
  header {
    padding: 0 0 0 3.8vw;
    .desktopver {
      display: none;
    }

    > a {
      img {
        width: 6vw;
        z-index: 2;
      }
    }

    > .fa-bars {
      display: block;
      font-size: 3vw;
      transition: 0.2s;
      text-align: end;

      background-color: $bg-color-dark;
      width: 100%;
      padding: 2.45vw 3.8vw;

      cursor: pointer;
      z-index: 2;
      &:hover {
        color: #fffdcea7;
      }
    }

    .mobilever {
      display: flex;
      flex-direction: column;

      row-gap: 2.3vw;
      background-color: $bg-color-dark;
      width: 100%;
      align-items: flex-end;
      padding: 0 2.8vw 1.4vw 0;

      position: absolute;
      top: -37vw;
      right: 0;
      transition: 0.8s ease-in-out;

      z-index: 1;

      ul {
        flex-direction: column;
        align-items: flex-end;

        row-gap: 0.8vw;
      }

      p,
      i {
        font-size: $resp-text-size-main;
      }

      .login {
        padding-right: 1.3vw;
        .fa-circle-user {
          font-size: 2.8vw;
          display: none;
        }
        a {
          p {
            font-size: $resp-text-size-main;
          }
        }
      }

      button {
        padding: 0.6vw 1.6vw;
      }
    }
  }
  .mobilever.active {
    top: 7.5vw;
  }

  footer {
    .grid {
      row-gap: 2.8vw;
      h3 {
        font-size: $resp-text-size-h3 !important;
      }

      > div {
        .longp {
          width: 100% !important;
        }
      }
    }
    p {
      font-size: 2vw;
    }
    > p {
      margin-top: 2vw;
      padding-top: 1.5w;
    }
  }
}

@media (max-width: 768px) {
  header {
    a {
      img {
        width: 9.2vw;
      }
    }

    > .fa-bars {
      font-size: 5vw;
      padding: 3.5vw;
    }

    .mobilever {
      row-gap: 3.1vw;
      p {
        font-size: $resp2-text-size-main;
      }

      .login {
        a {
          p {
            font-size: $resp2-text-size-main;
          }
        }
      }

      button {
        padding: 0.8vw 1.9vw;
        border-radius: 90vw;
      }
    }

    .mobilever.active {
      top: 11.9vw;
    }
  }

  footer {
    padding-bottom: 14vw;
    .grid {
      display: grid;
      grid-template-columns: repeat(1, 100%);
      grid-template-rows: repeat(5, 30vw);
      row-gap: 0;

      h3 {
        font-size: $resp2-text-size-h2 !important;

        display: flex;
        align-items: end;
        justify-content: center;

        padding-bottom: 2.06vw;
      }

      p {
        font-size: $resp2-text-size-main;
      }

      ul {
        row-gap: 3vw;
      }

      .contacttxt {
        grid-row: 1;
        grid-column: 1;
      }

      > div {
        grid-row: 2;
        grid-column: 1;
        align-items: center !important;
        row-gap: 3vw;

        .longp {
          text-align: center;
          width: 36% !important;
        }
      }

      .followtxt {
        grid-row: 3;
        grid-column: 1;

        display: flex;
        align-items: end;
        justify-content: center;
      }

      .mediaul {
        grid-row: 4;
        grid-column: 1;

        align-items: center;
        justify-content: center;
        padding-bottom: 2vw;
      }

      .infoul {
        border-top: 0.06vw solid $text-color-light;
        grid-row: 5;
        grid-column: 1;
      }
    }

    > p {
      padding-top: 7.4vw;
      margin-top: 0;
      font-size: $resp2-text-size-main;
      border: none;
    }
  }
}

// scroll js property

header.fixedToTop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
