@use "../abstracts/veriables.scss" as *;
@use "../abstracts/mixin.scss" as *;
@use "../abstracts/base.scss" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  nav {
    ul {
      li {
        &:nth-child(2) {
          a {
            button {
              p {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

main {
  padding-top: 5.7vw;
  background-color: $bg-color-dark;
}

.herosect {
  background-color: $bg-color-olive;
  display: flex;

  height: 60vw;
  video {
    object-fit: cover;
    width: 100%;
    filter: saturate(150%);
    opacity: 75%;
  }
  .absolutediv {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    height: 38vw;

    position: absolute;
    top: 26%;

    > div {
      background-color: $bg-color-green;
      height: 38vw;

      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: space-between;

      font-family: $font-main;
      color: $text-color-light;

      padding: 2vw 1.2vw;

      animation: circleappear2 0.6s;

      img {
        width: 45%;

        animation: opacityappear2 1.4s;
      }

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;

        animation: opacityappear2 1.4s;

        h3 {
          @extend %h3-base;
          width: 74%;
        }

        p {
          font-size: $text-size-h3-alt;
        }
      }
    }
  }
}

.authorsect {
  color: $text-color-light;
  padding: 2.4vw 2% 8.3vw 2%;
  display: flex;
  flex-direction: column;

  row-gap: 10.8vw;

  animation: textsquishdelay 0.7s;
  h2 {
    @extend %h2-base;
    width: 40%;
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: end;

    p {
      @extend %p-base;
      width: 48%;
    }

    img {
      width: 20%;
    }
  }
}

.meetsect {
  background-color: $bg-color-yellow;
  padding: 10vw 1.4% 8.3vw 1.4%;
  display: flex;
  flex-direction: column;
  align-items: center;

  row-gap: 7.8vw !important;
  position: relative;

  overflow: hidden;

  .introtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1vw;
    color: $text-color-dark;
    z-index: 3;

    h3 {
      font-family: $font-main;
      font-size: $text-size-h3-alt;
      letter-spacing: 0.06vw;
      font-weight: 100;

      animation: textsquish 0.7s;
    }

    p {
      @extend %h3-base;
      text-align: center;
      width: 90%;

      animation: textsquishdelay2 0.7s;
    }
  }

  .animwrapper {
    background-color: transparent;
    border: 0.06vw solid $bg-color-yellow;
    border-radius: 100%;
    width: 30%;
    height: 30vw;
    scale: calc(130%);

    top: 49%;
    align-self: center;
    position: absolute;
    z-index: 2;

    animation: circleappear 2s ease-in-out;
    opacity: 0;
  }
  > img {
    position: relative;
    z-index: 1;
    width: 20%;
  }
}

@media (max-width: 1024px) {
  .herosect {
    height: 67vw;
    .absolutediv {
      top: 17%;
      height: 50vw;
      > div {
        row-gap: 4vw;
        height: 50vw;
        padding: 5vw 7vw 9.4vw 7vw;
        > div {
          row-gap: 1.8vw;

          h3 {
            font-size: $resp-text-size-h3;
          }
          p {
            font-size: $resp-text-size-main;
          }
        }
      }
    }
  }

  .authorsect {
    padding: 2.8vw 3% 7.3vw 3%;
    h2 {
      font-size: $resp-text-size-h2;
      width: 50% !important;
    }

    > div {
      p {
        font-size: $resp-text-size-main;
        width: 65%;
      }
      img {
        position: relative;
        width: 30%;
      }
    }
  }

  .meetsect {
    .introtext {
      row-gap: 2vw;
      h3 {
        font-size: $resp-text-size-h3 !important;
      }
    }

    > img {
      scale: calc(140%);
    }

    .animwrapper {
      scale: calc(170%);
    }
  }
}

@media (max-width: 768px) {
  .herosect {
    height: 119vw;

    .absolutediv {
      height: 90vw;
      top: 20vw !important;
      padding-left: 8%;
      padding-right: 8%;
      > div {
        height: 90vw;
        row-gap: 17vw !important;
        padding: 9.6vw 6vw;
        > div {
          h3 {
            width: 100% !important;
            text-align: center;
            font-size: $resp2-text-size-h3 !important;
          }
          p {
            font-size: $resp2-text-size-main !important;
          }
        }
      }
    }
  }

  .authorsect {
    padding: 6vw 7% 12.3vw 7%;

    row-gap: 6vw;
    h2 {
      font-size: $resp2-text-size-h2-alt;
      width: 78% !important;
    }

    div {
      flex-direction: column;
      align-items: start;

      row-gap: 6vw;

      p {
        width: 100%;
        font-size: $resp2-text-size-main;
      }

      img {
        width: 100%;
        align-self: center;
      }
    }
  }

  .meetsect {
    padding: 10vw 2% 1.5vw 2%;

    .introtext {
      row-gap: 3.8vw;
      h3 {
        font-size: $resp2-text-size-main !important;
        scale: calc(125%);
      }

      p {
        font-size: $resp2-text-size-h3;
        scale: calc(90%);
        width: 100%;
      }
    }

    .animwrapper {
      scale: calc(420%);
      top: 44%;
    }

    > img {
      width: 65%;
      height: 60vw;
      object-fit: cover;
      margin: 15vw 0;
    }
  }
}
