@use "../abstracts/veriables.scss" as *;
@use "../abstracts/mixin.scss" as *;
@use "../abstracts/base.scss" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  nav {
    ul {
      li {
        &:nth-child(2) {
          a {
            button {
              p {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

.herosect {
  background-color: $bg-color-olive;

  height: 60vw;
  video {
    object-fit: cover;
    width: 100%;
    filter: saturate(150%);
    opacity: 85%;
  }
}

main {
  padding-top: 5.7vw;
  background-color: $bg-color-dark;
}
