@font-face {
  font-family: "InstrumentSarif";
  src: url(/scss/fonts/InstrumentSerif-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "PinyonScript";
  src: url(/scss/fonts/PinyonScript-Regular.ttf);
  font-weight: 700;
}
@keyframes circleappear {
  from {
    opacity: 100%;
    border-width: 40vw;
  }
  to {
    opacity: 100%;
  }
}
@keyframes opacityappear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes textsquish {
  from {
    opacity: 40%;
    transform: scaleY(30%);
  }
  to {
    transform: scaleY(100%);
  }
}
@keyframes textsquishdelay {
  0% {
    opacity: 0%;
    transform: scaleY(30%);
  }
  20% {
    opacity: 0%;
    transform: scaleY(30%);
  }
  100% {
    opacity: 100%;
    transform: scaleY(100%);
  }
}
@keyframes textsquishdelay2 {
  0% {
    opacity: 0%;
    transform: scaleY(30%);
  }
  30% {
    opacity: 0%;
    transform: scaleY(30%);
  }
  100% {
    opacity: 100%;
    transform: scaleY(100%);
  }
}
@keyframes slideinleft {
  from {
    transform: translateX(-110%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideindown {
  0% {
    opacity: 0%;
    transform: translateY(-25%);
  }
  20% {
    opacity: 0%;
    transform: translateY(-25%);
  }
  100% {
    opacity: 100%;
  }
}
@keyframes slideinup {
  0% {
    opacity: 0%;
    transform: translateY(25%);
  }
  30% {
    opacity: 0%;
    transform: translateY(25%);
  }
  100% {
    opacity: 100%;
  }
}
@keyframes slideindowndelay {
  0% {
    opacity: 0%;
    transform: translateY(-25%);
  }
  40% {
    opacity: 0%;
    transform: translateY(-25%);
  }
  100% {
    opacity: 100%;
  }
}
.meetsect .bigcard > div h2 {
  font-family: "InstrumentSarif";
  font-size: 4.8vw;
  font-weight: 400;
}

.herosect .textdiv h3, .meetsect .introtext p {
  font-family: "InstrumentSarif";
  font-size: 3.1vw;
  letter-spacing: 0.06vw;
}

.meetsect .bigcard > div div p {
  font-family: "InstrumentSarif";
  font-size: 2.3vw;
  letter-spacing: 0.06vw;
}

.herosect .textdiv a button p, .meetsect .bigcard > div div a button p, .readerssect .griddiv > div div .author, .formsect > div p, .formsect form, .formsect form .submit {
  font-family: "InstrumentSarif";
  font-size: 1.27vw;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header nav ul li:nth-child(1) a button p {
  text-decoration: underline;
}

main {
  padding-top: 5.7vw;
  background-color: #1d1c19;
}

.herosect {
  display: flex;
  justify-content: center;
  background-color: #1d1c19;
  padding: 3vw 0 8.7vw 0;
  position: relative;
  overflow: hidden;
}
.herosect .animwrapper {
  width: 46%;
  height: 47vw;
  border: 0.06vw solid #1d1c19;
  scale: 110%;
  background-color: transparent;
  z-index: 2;
  border-radius: 100%;
  animation: circleappear 2s ease-in-out;
  position: absolute;
}
.herosect .imgdiv {
  height: 37vw;
  width: 32%;
  overflow: hidden;
  border-radius: 49% 49% 0 0;
  z-index: 1;
}
.herosect .imgdiv img {
  animation: none;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  animation: opacityappear 2.5s;
}
.herosect .textdiv {
  color: #fffdce;
  position: absolute;
  top: 22%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 3;
}
.herosect .textdiv h1 {
  font-family: "PinyonScript";
  font-size: 17.5vw;
  text-align: center;
  animation: textsquish 1s;
}
.herosect .textdiv h3 {
  position: relative;
  bottom: 4.7vw;
  text-align: center;
  animation: textsquishdelay 1.7s;
}
.herosect .textdiv > div {
  align-items: flex-start;
}
.herosect .textdiv a {
  position: relative;
  bottom: 4vw;
  animation: textsquishdelay2 1.7s;
}
.herosect .textdiv a button {
  background-color: #fffdce;
  color: #1d1c19;
  padding: 0.375vw 2.1vw;
  border: none;
  border-radius: 3.1vw;
  cursor: pointer;
}
.herosect .textdiv a:hover button p {
  text-decoration: underline;
}

.meetsect {
  background-color: #fdff7f;
  padding: 10vw 1.4% 1.5vw 1.4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7.8vw;
  position: relative;
  overflow: hidden;
}
.meetsect .introtext {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1vw;
  color: #1d1c19;
  z-index: 3;
}
.meetsect .introtext h3 {
  font-family: "InstrumentSarif";
  font-size: 1.7vw;
  letter-spacing: 0.06vw;
  font-weight: 100;
  animation: textsquish 0.7s;
}
.meetsect .introtext p {
  text-align: center;
  width: 90%;
  animation: textsquishdelay2 0.7s;
}
.meetsect .animwrapper {
  background-color: transparent;
  border: 0.06vw solid #fdff7f;
  border-radius: 100%;
  width: 30%;
  height: 30vw;
  scale: 130%;
  top: 28%;
  align-self: center;
  position: absolute;
  z-index: 2;
  animation: circleappear 2s ease-in-out;
  opacity: 0;
}
.meetsect > img {
  position: relative;
  z-index: 1;
  width: 20%;
}
.meetsect .bigcard {
  z-index: 3;
  background-color: #1d1c19;
  width: 100%;
  display: flex;
  padding: 1.4vw;
  animation: slideinleft 2s;
}
.meetsect .bigcard img {
  width: 50%;
}
.meetsect .bigcard > div {
  padding: 0.9vw 2.2vw;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 54vw;
  color: #fffdce;
  width: 50%;
}
.meetsect .bigcard > div div {
  display: flex;
  flex-direction: column;
  row-gap: 1.8vw;
  align-items: flex-start;
}
.meetsect .bigcard > div div p {
  padding-left: 0.3vw;
}
.meetsect .bigcard > div div a button {
  background-color: #fffdce;
  color: #1d1c19;
  padding: 0.375vw 3vw;
  border: none;
  border-radius: 3.1vw;
  cursor: pointer;
}
.meetsect .bigcard > div div a:hover button p {
  text-decoration: underline;
}

.readerssect {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1vw;
  padding: 5vw 0 6vw 0;
  color: #fffdce;
  position: relative;
}
.readerssect > h3 {
  font-family: "InstrumentSarif";
  font-size: 3.1vw;
  letter-spacing: 0.06vw;
  font-weight: 100;
  animation: textsquish 0.7s;
  z-index: 8;
}
.readerssect .griddiv {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(3, 16vw);
  column-gap: 2%;
  overflow: hidden;
  z-index: 5;
}
.readerssect .griddiv > div {
  background-color: #606038;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  row-gap: 2.7vw;
}
.readerssect .griddiv > div img {
  width: 24%;
}
.readerssect .griddiv > div div {
  display: flex;
  flex-direction: column;
  row-gap: 1vw;
}
.readerssect .griddiv > div div .review {
  font-family: "InstrumentSarif";
  font-size: 2vw;
}
.readerssect .griddiv .griditem {
  border-radius: 0 0 47% 47%;
  padding: 3vw 1.3vw 7vw 1.3vw;
}
.readerssect .griddiv .griditemalt {
  border-radius: 47% 47% 0 0;
  padding: 7vw 1.3vw 2.2vw 1.3vw;
}
.readerssect .griddiv .griditem1 {
  grid-row: 2/4;
  grid-column: 1/2;
  animation: slideindown 1.2s;
}
.readerssect .griddiv .griditem2 {
  grid-row: 1/3;
  grid-column: 2/3;
  justify-content: space-between;
  padding-bottom: 2.4vw;
  animation: slideinup 1.5s;
}
.readerssect .griddiv .griditem3 {
  grid-row: 2/4;
  grid-column: 3/4;
  animation: slideindowndelay 1.7s;
}

.formsect {
  background-color: #606038;
  display: flex;
  color: #fffdce;
  padding: 3.2vw 2.2%;
  column-gap: 2%;
}
.formsect > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
  height: 10.7vw;
  animation: textsquish 0.7s;
}
.formsect > div h3 {
  font-family: "InstrumentSarif";
  font-size: 2.3vw;
  font-weight: 300;
}
.formsect > div p {
  width: 70%;
}
.formsect form {
  display: flex;
  flex-direction: column;
  width: 50%;
  animation: textsquishdelay 0.7s;
}
.formsect form .emaileneter {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 0.06vw solid #fffdce;
  outline: none;
  padding: 0.7vw 1vw;
  color: #fffdce;
  font-size: 1.27vw;
  font-family: "InstrumentSarif";
  caret-color: #fffdce;
}
.formsect form > div {
  margin: 1vw 0;
  display: flex;
  column-gap: 1vw;
}
.formsect form > div input,
.formsect form > div label {
  cursor: pointer;
}
.formsect form .submit {
  width: 100%;
  background-color: #fffdce;
  color: #1d1c19;
  padding: 0.5vw;
  border: 0.06vw solid #fffdce;
  border-radius: 3.1vw;
  transition: 0.25s;
  cursor: pointer;
}
.formsect form .submit:hover {
  background-color: #606038;
  font-weight: 700;
  color: #fffdce;
}

/*# sourceMappingURL=1home.css.map */
