@font-face {
  font-family: "InstrumentSarif";
  src: url(/scss/fonts/InstrumentSerif-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "PinyonScript";
  src: url(/scss/fonts/PinyonScript-Regular.ttf);
  font-weight: 700;
}
@keyframes circleappear {
  from {
    opacity: 100%;
    border-width: 40vw;
  }
  to {
    opacity: 100%;
  }
}
@keyframes opacityappear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes opacityappear2 {
  0% {
    opacity: 0%;
  }
  30% {
    opacity: 0%;
    scale: 90%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes textsquish {
  from {
    opacity: 40%;
    transform: scaleY(30%);
  }
  to {
    transform: scaleY(100%);
  }
}
@keyframes textsquishdelay {
  0% {
    opacity: 0%;
    transform: scaleY(30%);
  }
  20% {
    opacity: 0%;
    transform: scaleY(30%);
  }
  100% {
    opacity: 100%;
    transform: scaleY(100%);
  }
}
@keyframes textsquishdelay2 {
  0% {
    opacity: 0%;
    transform: scaleY(30%);
  }
  30% {
    opacity: 0%;
    transform: scaleY(30%);
  }
  100% {
    opacity: 100%;
    transform: scaleY(100%);
  }
}
@keyframes slideinleft {
  from {
    transform: translateX(-110%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideindown {
  0% {
    opacity: 0%;
    transform: translateY(-25%);
  }
  20% {
    opacity: 0%;
    transform: translateY(-25%);
  }
  100% {
    opacity: 100%;
  }
}
@keyframes slideinup {
  0% {
    opacity: 0%;
    transform: translateY(25%);
  }
  30% {
    opacity: 0%;
    transform: translateY(25%);
  }
  100% {
    opacity: 100%;
  }
}
@keyframes slideindowndelay {
  0% {
    opacity: 0%;
    transform: translateY(-25%);
  }
  40% {
    opacity: 0%;
    transform: translateY(-25%);
  }
  100% {
    opacity: 100%;
  }
}
@keyframes circleappear2 {
  0% {
    opacity: 10%;
    height: 20vw;
    width: 20vw;
    border-radius: 100%;
    scale: 60%;
  }
  25% {
    opacity: 2%;
    border-radius: 100%;
  }
}
.authorsect h2 {
  font-family: "InstrumentSarif";
  font-size: 4.8vw;
  font-weight: 400;
}

.herosect .absolutediv > div > div h3, .meetsect .introtext p {
  font-family: "InstrumentSarif";
  font-size: 3.1vw;
  letter-spacing: 0.06vw;
}

.authorsect div p {
  font-family: "InstrumentSarif";
  font-size: 1.34vw;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header nav ul li:nth-child(2) a button p {
  text-decoration: underline;
}

main {
  padding-top: 5.7vw;
  background-color: #1d1c19;
}

.herosect {
  background-color: #606038;
  display: flex;
  height: 60vw;
}
.herosect video {
  object-fit: cover;
  width: 100%;
  filter: saturate(150%);
  opacity: 85%;
}
.herosect .absolutediv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  height: 38vw;
  position: absolute;
  top: 26%;
}
.herosect .absolutediv > div {
  background-color: #333323;
  height: 38vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  font-family: "InstrumentSarif";
  color: #fffdce;
  padding: 2vw 1.2vw;
  animation: circleappear2 0.6s;
}
.herosect .absolutediv > div img {
  width: 45%;
  animation: opacityappear2 1.4s;
}
.herosect .absolutediv > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: opacityappear2 1.4s;
}
.herosect .absolutediv > div > div h3 {
  width: 74%;
}
.herosect .absolutediv > div > div p {
  font-size: 1.7vw;
}

.authorsect {
  color: #fffdce;
  padding: 2.4vw 2% 8.3vw 2%;
  display: flex;
  flex-direction: column;
  row-gap: 10.8vw;
  animation: textsquishdelay 0.7s;
}
.authorsect h2 {
  width: 40%;
}
.authorsect div {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.authorsect div p {
  width: 48%;
}
.authorsect div img {
  width: 20%;
}

.meetsect {
  background-color: #fdff7f;
  padding: 10vw 1.4% 8.3vw 1.4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7.8vw !important;
  position: relative;
  overflow: hidden;
}
.meetsect .introtext {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1vw;
  color: #1d1c19;
  z-index: 3;
}
.meetsect .introtext h3 {
  font-family: "InstrumentSarif";
  font-size: 1.7vw;
  letter-spacing: 0.06vw;
  font-weight: 100;
  animation: textsquish 0.7s;
}
.meetsect .introtext p {
  text-align: center;
  width: 90%;
  animation: textsquishdelay2 0.7s;
}
.meetsect .animwrapper {
  background-color: transparent;
  border: 0.06vw solid #fdff7f;
  border-radius: 100%;
  width: 30%;
  height: 30vw;
  scale: 130%;
  top: 49%;
  align-self: center;
  position: absolute;
  z-index: 2;
  animation: circleappear 2s ease-in-out;
  opacity: 0;
}
.meetsect > img {
  position: relative;
  z-index: 1;
  width: 20%;
}

@media (max-width: 1024px) {
  .meetsect .introtext {
    row-gap: 2vw;
  }
  .meetsect .introtext h3 {
    font-size: 4.6vw !important;
  }
  .meetsect > img {
    scale: 140%;
  }
  .meetsect .animwrapper {
    scale: 170%;
  }
}
@media (max-width: 768px) {
  .meetsect {
    padding: 10vw 2% 1.5vw 2%;
  }
  .meetsect .introtext {
    row-gap: 3.8vw;
  }
  .meetsect .introtext h3 {
    font-size: 4.1vw !important;
    scale: 125%;
  }
  .meetsect .introtext p {
    font-size: 7.4vw;
    scale: 90%;
    width: 100%;
  }
  .meetsect .animwrapper {
    scale: 420%;
    top: 44%;
  }
  .meetsect > img {
    width: 65%;
    height: 60vw;
    object-fit: cover;
    margin: 15vw 0;
  }
}

/*# sourceMappingURL=2about.css.map */
