@font-face {
  font-family: "InstrumentSarif";
  src: url(/scss/fonts/InstrumentSerif-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "PinyonScript";
  src: url(/scss/fonts/PinyonScript-Regular.ttf);
  font-weight: 700;
}
@keyframes circleappear {
  from {
    opacity: 100%;
    border-width: 40vw;
  }
  to {
    opacity: 100%;
  }
}
@keyframes opacityappear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes opacityappear2 {
  0% {
    opacity: 0%;
  }
  30% {
    opacity: 0%;
    scale: 90%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes textsquish {
  from {
    opacity: 40%;
    transform: scaleY(30%);
  }
  to {
    transform: scaleY(100%);
  }
}
@keyframes textsquishdelay {
  0% {
    opacity: 0%;
    transform: scaleY(30%);
  }
  20% {
    opacity: 0%;
    transform: scaleY(30%);
  }
  100% {
    opacity: 100%;
    transform: scaleY(100%);
  }
}
@keyframes textsquishdelay2 {
  0% {
    opacity: 0%;
    transform: scaleY(30%);
  }
  30% {
    opacity: 0%;
    transform: scaleY(30%);
  }
  100% {
    opacity: 100%;
    transform: scaleY(100%);
  }
}
@keyframes slideinleft {
  from {
    transform: translateX(-110%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideindown {
  0% {
    opacity: 0%;
    transform: translateY(-25%);
  }
  20% {
    opacity: 0%;
    transform: translateY(-25%);
  }
  100% {
    opacity: 100%;
  }
}
@keyframes slideinup {
  0% {
    opacity: 0%;
    transform: translateY(25%);
  }
  30% {
    opacity: 0%;
    transform: translateY(25%);
  }
  100% {
    opacity: 100%;
  }
}
@keyframes slideindowndelay {
  0% {
    opacity: 0%;
    transform: translateY(-25%);
  }
  40% {
    opacity: 0%;
    transform: translateY(-25%);
  }
  100% {
    opacity: 100%;
  }
}
@keyframes circleappear2 {
  0% {
    opacity: 10%;
    height: 20vw;
    width: 20vw;
    border-radius: 100%;
    scale: 60%;
  }
  25% {
    opacity: 2%;
    border-radius: 100%;
  }
}
.herosect .absolutediv > div > div h3 {
  font-family: "InstrumentSarif";
  font-size: 3.1vw;
  letter-spacing: 0.06vw;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header nav ul li:nth-child(2) a button p {
  text-decoration: underline;
}

main {
  padding-top: 5.7vw;
}

.herosect {
  background-color: #606038;
  display: flex;
  height: 60vw;
}
.herosect video {
  object-fit: cover;
  width: 100%;
  filter: saturate(150%);
  opacity: 85%;
}
.herosect .absolutediv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  height: 38vw;
  position: absolute;
  top: 26%;
}
.herosect .absolutediv > div {
  background-color: #333323;
  height: 38vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  font-family: "InstrumentSarif";
  color: #fffdce;
  padding: 2vw 1.2vw;
  animation: circleappear2 0.6s;
}
.herosect .absolutediv > div img {
  width: 45%;
  animation: opacityappear2 1.4s;
}
.herosect .absolutediv > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: opacityappear2 1.4s;
}
.herosect .absolutediv > div > div h3 {
  width: 74%;
}
.herosect .absolutediv > div > div p {
  font-size: 1.7vw;
}

main {
  padding-top: 5.7vw;
  background-color: #1d1c19;
}

/*# sourceMappingURL=2about.css.map */
