@font-face {
  font-family: "InstrumentSarif";
  src: url(/scss/fonts/InstrumentSerif-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "PinyonScript";
  src: url(/scss/fonts/PinyonScript-Regular.ttf);
  font-weight: 700;
}
.cardsect > div div h2 {
  font-family: "InstrumentSarif";
  font-size: 4.8vw;
  font-weight: 400;
}

@keyframes circleappear {
  from {
    opacity: 100%;
    border-width: 40vw;
  }
  to {
    opacity: 100%;
  }
}
@keyframes opacityappear {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes opacityappear2 {
  0% {
    opacity: 0%;
  }
  30% {
    opacity: 0%;
    scale: 90%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes textsquish {
  from {
    opacity: 40%;
    transform: scaleY(30%);
  }
  to {
    transform: scaleY(100%);
  }
}
@keyframes textsquishdelay {
  0% {
    opacity: 0%;
    transform: scaleY(30%);
  }
  20% {
    opacity: 0%;
    transform: scaleY(30%);
  }
  100% {
    opacity: 100%;
    transform: scaleY(100%);
  }
}
@keyframes textsquishdelay2 {
  0% {
    opacity: 0%;
    transform: scaleY(30%);
  }
  30% {
    opacity: 0%;
    transform: scaleY(30%);
  }
  100% {
    opacity: 100%;
    transform: scaleY(100%);
  }
}
@keyframes slideinleft {
  from {
    transform: translateX(-110%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideinright {
  0% {
    transform: translateX(110%);
  }
  15% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideinleft2 {
  0% {
    transform: translateX(-110%);
  }
  30% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideindown {
  0% {
    opacity: 0%;
    transform: translateY(-25%);
  }
  20% {
    opacity: 0%;
    transform: translateY(-25%);
  }
  100% {
    opacity: 100%;
  }
}
@keyframes slideinup {
  0% {
    opacity: 0%;
    transform: translateY(25%);
  }
  30% {
    opacity: 0%;
    transform: translateY(25%);
  }
  100% {
    opacity: 100%;
  }
}
@keyframes slideindowndelay {
  0% {
    opacity: 0%;
    transform: translateY(-25%);
  }
  40% {
    opacity: 0%;
    transform: translateY(-25%);
  }
  100% {
    opacity: 100%;
  }
}
@keyframes circleappear2 {
  0% {
    opacity: 10%;
    height: 20vw;
    width: 20vw;
    border-radius: 100%;
    scale: 60%;
  }
  25% {
    opacity: 2%;
    border-radius: 100%;
  }
}
header nav ul li:nth-child(3) a button p {
  text-decoration: underline;
}

main {
  padding-top: 5.7vw;
  background-color: #1d1c19;
}

.herosect {
  padding: 9vw 3.3vw 2vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  row-gap: 1.5vw;
  background-color: #fdff7f;
  color: #1d1c19;
}
.herosect h1 {
  font-size: 17.5vw;
  font-family: "PinyonScript";
  font-style: italic;
  line-height: 13.4vw;
  animation: textsquish 0.5s;
}
.herosect h3 {
  font-family: "InstrumentSarif";
  font-weight: 400;
  font-size: 1.7vw;
  animation: textsquishdelay2 0.8s;
}

.cardsect {
  padding: 7vw 1.6vw;
  background-color: #fdff7f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3.4vw;
  color: #fffdce;
  font-family: "InstrumentSarif";
}
.cardsect > div {
  width: 100%;
  height: auto;
  padding: 1.6vw;
  background-color: #1d1c19;
  display: flex;
  column-gap: 3%;
}
.cardsect > div img {
  width: 90%;
}
.cardsect > div div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardsect > div div h2 {
  width: 80%;
}
.cardsect > div div p {
  font-size: 1.34vw;
  width: 85%;
}
.cardsect > div:nth-child(1) {
  animation: slideinleft 1.2s ease-out;
}
.cardsect > div:nth-child(2) {
  flex-direction: row-reverse;
  background-color: #333323;
}
.cardsect > div:nth-child(2) img {
  width: 100%;
}
.cardsect > div:nth-child(2) {
  animation: slideinright 1.7s ease-out;
}
.cardsect > div:nth-child(3) {
  animation: slideinleft2 2.2s ease-out;
}

@media (max-width: 1024px) {
  .herosect {
    row-gap: 6.4vw !important;
  }
  .herosect h3 {
    font-size: 4.6vw;
  }
}
@media (max-width: 768px) {
  .herosect {
    padding: 18vw 1.2vw 10vw 0;
  }
  .herosect h1 {
    font-size: 20vw;
    line-height: 17vw;
  }
  .herosect h3 {
    font-size: 6.6vw;
    width: 60%;
  }
}

/*# sourceMappingURL=3books.css.map */
